# Default ignored files
/shelf/
/workspace.xml
*.pyc
__pycache__/
.env
.vs/
controller/__pycache__/
controller/services/__pycache__/
controller/settings/__pycache__/
debug/main.py
debug/uart_log.txt
grid_meter/__pycache__/
grid_meter/temp.py
uart_log.txt
venv/
settings/secrets.py
grid_meter/secrets.py
